<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Регистраия машины</title>
</head>
<body>
    <header class="header">
        <div class="container">
            <nav class="header__nav">
                <a href="#prez-1" class="header__link">Регистрация машины</a>
                <a href="#prez-2" class="header__link">Удаление машины</a>
                <a href="#prez-3" class="header__link">Общий список</a>
            </nav>
        </div>
    </header>
    <div id="prez-1" class="auth-form">
        <div class="container">
            <form id="auth" method="post" class="auth-form__form">
                <input class="auth-form__input" type="text" name="talonId" placeholder="Номер пропуска">
                <button name="submit" type="submit" class="auth-form__btn main-btn">Зарегистрировать</button>
            </form>
        </div>
    </div>
    <div id="prez-2" class="auth-form">
        <div class="container">
            <form id="del" method="post" class="auth-form__form">
                <input class="auth-form__input" type="text" name="talonId" placeholder="Номер пропуска">
                <button name="submit" type="submit" class="auth-form__btn main-btn">Удалить</button>
            </form>
        </div>
    </div>
    <div id="prez-3" class="main">
        <div class="container">
            <form id="cars-kpp" method="post" class="main__form">
                <table border="collapse" class="main__table">
                    <tr class="main__tr table-heading">
                        <th class="main__th">Номер пропуска</th>
                        <th class="main__th">Номер авто</th>
                        <th class="main__th">ФИО</th>
                        <th class="main__th">Наим. отправителя</th>
                        <th class="main__th">Вид продукции</th>
                        <th class="main__th">Объём продукции</th>
                        <th class="main__th">ЕИ</th>
                    </tr>
                </table>
                <img src="../../images/loading.gif" alt="loading" class="main__loading">
                <button name="submit" type="submit" class="main__btn main-btn">Сохранить</button>
            </form>
        </div>
    </div>
</body>
</html>