<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Загрузка</title>
</head>
<body>
    <header class="header">
        <div class="container">
            <!-- <h2 class="header__title">Загрузка</h2> -->
            <nav class="header__nav">
                <a href="#prez-1" class="header__link">Список машин на КПП</a>
                <a href="#prez-2" class="header__link">Список на внутренней стоянке</a>
            </nav>
        </div>
    </header>
    <div id="prez-1" class="main">
        <div class="container">
            <form id="cars-arrived" method="post" class="main__form">
                <table border="collapse" class="main__table">
                    <tr class="main__tr table-heading">
                        <th class="main__th">Номер пропуска</th>
                        <th class="main__th">Номер авто</th>
                        <th class="main__th">ФИО</th>
                        <th class="main__th">Наим. отправителя</th>
                        <th class="main__th">Вид продукции</th>
                        <th class="main__th">Объём продукции</th>
                        <th class="main__th">ЕИ</th>
                        <th class="main__th">Пропустить?</th>
                    </tr>
                </table>
                <img src="../../images/loading.gif" alt="loading" class="main__loading">
                <div class="main__btn-wrapper">
                    <button name="submit" type="submit" class="main__btn main-btn">Сохранить</button>
                    <button type="button" class="main__btn hide-btn" data-toggle-data>Скрыть/показать данные</button>
                </div>
            </form>
        </div>
    </div>
    <div id="prez-2" class="main">
        <div class="container">
            <form id="cars-inside" method="post" class="main__form">
                <table border="collapse" class="main__table">
                    <tr class="main__tr table-heading">
                        <th class="main__th">Номер пропуска</th>
                        <th class="main__th">Номер авто</th>
                        <th class="main__th">ФИО</th>
                        <th class="main__th">Наим. отправителя</th>
                        <th class="main__th">Вид продукции</th>
                        <th class="main__th">Объём продукции</th>
                        <th class="main__th">ЕИ</th>
                        <th class="main__th">Ворота</th>
                    </tr>
                </table>
                <img src="../../images/loading.gif" alt="loading" class="main__loading">
                <div class="main__btn-wrapper">
                    <button name="submit" type="submit" class="main__btn main-btn">Сохранить</button>
                    <button type="button" class="main__btn hide-btn" data-toggle-data>Скрыть/показать данные</button>
                </div>
            </form>
        </div>
    </div>
</body>
</html>