<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Сформированная очередь</title>
</head>
<body>
    <header class="header">
        <h1>Сформированная очередь</h1>
        <div class="container">
            <nav class="header__nav">
                <a href="#prez-1" class="header__link">Перед КПП</a>
                <a href="#prez-2" class="header__link">Внутренняя очередь</a>
            </nav>
        </div>
    </header>
    <div id="prez-1" class="main">
        <div class="container">
            <form id="cars-stay" method="post" class="main__form">
                <table border="collapse" class="main__table">
                    <tr class="main__tr table-heading">
                        <th class="main__th">Номер пропуска</th>
                        <th class="main__th">Номер авто</th>
                    </tr>
                </table>
                <img src="../../images/loading.gif" alt="loading" class="main__loading">
            </form>
        </div>
    </div>
    <div id="prez-2" class="main">
        <div class="container">
            <form id="cars-load" method="post" class="main__form">
                <table border="collapse" class="main__table">
                    <tr class="main__tr table-heading">
                        <th class="main__th">Номер пропуска</th>
                        <th class="main__th">Номер авто</th>
                        <th class="main__th">Ворота</th>
                    </tr>
                </table>
                <img src="../../images/loading.gif" alt="loading" class="main__loading">
            </form>
        </div>
    </div>
</body>
</html>